repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-toml
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
    -   id: mypy
        additional_dependencies:
        -   "types-Flask-Cors~=3.0"
        -   "types-Flask-SQLAlchemy~=2.5"
        -   "types-mock~=4.0"
        -   "types-PyYAML~=6.0"
        -   "types-requests~=2.28"
        -   "types-setuptools~=63.4"
        -   "types-smorest~=1.1"
        -   "types-SQLAlchemy~=1.4"
        -   "types-sqlalchemy-utils~=1.0"
        -   "types-urllib3<1.27"
-   repo: https://github.com/myint/rstcheck
    rev: v6.0.0
    hooks:
    -   id: rstcheck
