black~=22.8
coverage[toml]~=6.4
flake8~=5.0
flake8-bugbear>=22.9.11
ipython~=8.5
mypy~=0.981
pg8000~=1.29
pipdeptree~=2.3
pytest-cov~=3.0
pre-commit~=2.20
pygments~=2.13
pytest~=7.1
pytest-flask-ligand~=0.1
pytest-mock~=3.8
python-semantic-release~=7.31
tox~=3.26
twine~=3.8
types-Flask-Cors~=3.0
types-Flask-SQLAlchemy~=2.5
types-mock~=4.0
types-PyYAML~=6.0
types-requests~=2.28
types-setuptools~=65.3
types-smorest~=1.1
types-SQLAlchemy~=1.4
types-sqlalchemy-utils~=1.0
types-urllib3<1.27
